<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h1 class="h4 mb-0"><%= @task.title %></h1>
          <div>
            <%= link_to 'Edit', edit_client_task_path(@client, @task), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Back', client_path(@client), class: 'btn btn-secondary btn-sm' %>
          </div>
        </div>
        <div class="card-body">
          <p><strong>Client:</strong> <%= @client.name %></p>
          <% if @task.opportunity %>
            <p><strong>Opportunity:</strong> <%= link_to @task.opportunity.title, client_opportunity_path(@client, @task.opportunity) %></p>
          <% end %>
          <p><strong>Description:</strong> <%= simple_format(@task.description) %></p>
          <p><strong>Due Date:</strong> <%= @task.due_date %></p>
          <p><strong>Status:</strong> <%= @task.status %></p>
          <p><strong>Priority:</strong> <%= @task.priority %></p>
        </div>
      </div>
    </div>
  </div>
</div>
